body{
  background-color: rgb(141, 170, 132);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
}
  
  

#game-board {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}
.game-border-1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}
.game-border-2 {
  border: #abb78a solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #abb78a;
}
.game-border-3 {
  border: #8b966c solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #8b966c;
}  
#instruction-text {
  position: absolute;
  top: 60%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}

.scores {
  display: flex;
  justify-content: space-between;
}
#score {
  color: #abb78a;
}
#score,
#highScore {
font-size: 40px;
font-weight: bolder;
margin: 10px 0;
}

#highScore {
color: #d8ddca;
display: none;
}

.game-border-3,
#logo {
background-color:rgb(141, 170, 132);
}

.snake {
border: #5b9e0f 3px solid;
background-color: #125021;
}

.food {
background-color: #c2af07;
border: #d6a811 5px solid;
}

#logo {
position: absolute;
}